#/**************************************************************************
# *
# *         Copyright (c) 2002-2018 by iCatch Technology Inc.
# *
# *  This software is copyrighted by and is the property of iCatch
# *  Technology Inc. All rights are reserved by iCatch Technology Inc.
# *  This software may only be used in accordance with the corresponding
# *  license agreement. Any unauthorized use, duplication, distribution,
# *  or disclosure of this software is expressly forbidden.
# *
# *  This Copyright notice MUST not be removed or modified without prior
# *  written consent of iCatch Technology Inc.
# *
# *  iCatch Technology Inc. reserves the right to modify this software
# *  without notice.
# *
# *  iCatch Technology Inc.
# *  19-1, Innovation First Road, Science-Based Industrial Park,
# *  Hsin-Chu, Taiwan.
# *
# *  Author: Anmin Deng
# *
# **************************************************************************/

# this file included by $host/Makefile for manual config sensor devices

ifneq ($(SENSOR_CUSTOM_DEFINE), YES) # not config in host or project .def

# if not config in host.def or individual project .def, manual config here

# CISPLUS CMOS Image Sensor
 SENSOR_TT3131 := NO

# OmniVision CMOS Image Sensor
 SENSOR_OV4689 := NO
 SENSOR_OV5610 := NO
 SENSOR_OV5620 := NO
 SENSOR_OV5633 := NO
 SENSOR_OV9712 := NO
 SENSOR_OV5653 := NO
 SENSOR_OV14810 := NO

# Micro CMOS Image Sensor
 SENSOR_MI5100 := NO
 SENSOR_MT9V136 := NO

# Others CMOS Image Sensor
 SENSOR_KAC5010 := NO
 SENSOR_CP3200 := NO
 SENSOR_SONYIMX175 := NO
 SENSOR_SONYIMX118 := NO
 SENSOR_SONYIMX206 := NO
 SENSOR_DUAL_SONYIMX206 := NO
 SENSOR_SONYIMX147 := NO
 SENSOR_SONYIMX078 := NO

# Sony CCD Image Sensor
 SENSOR_XTG3626_SONY455 := NO
 SENSOR_XTG4805_SONY624 := NO
 SENSOR_XTG9923_SONY629 := NO
 SENSOR_AD9920_SONY636 := NO
 SENSOR_AD9920_SONY646 := NO
 SENSOR_AD9000_SONY675 := NO
 SENSOR_AD9000_SONY677 := NO
 SENSOR_VSP6244_SONY636 := NO
 SENSOR_VSP6244_SONY675 := NO
 SENSOR_VSP6244_SONY675_BIN := NO
 SENSOR_VSP6244_SONY677 := NO
 SENSOR_VSP6244_SONY681 := NO
 SENSOR_VSP6244_SONY631 := NO

# Sharp CCD Image Sensor
 SENSOR_AD9920_SHARPRJ23T3A := NO
 SENSOR_AD9920_SHARPRJ23V3B := NO
 SENSOR_AD9920_SHARPRJ23U3B := NO
 SENSOR_AD9000_SHARPRJ23V3B := NO
 SENSOR_AD9000_SHARPRJ23U3B := NO
 SENSOR_AD9000_SHARPRJ23W3B := NO
 SENSOR_VSP6244_SHARPRJ23W3B := NO
 SENSOR_VSP6244_SHARPRJ23Y3B := NO

# Panasonic CCD Image Sensor
 SENSOR_XTG12067_PANX39830 := NO
 SENSOR_XTG12069_PANX39830 := NO
 SENSOR_XTG12068_PANX39850 := NO
 SENSOR_VSP6244_PANAMN34571 := NO
 SENSOR_AD9007_PANAMN34591 := NO

# Himax CMOS Image Sensor
 SENSOR_HM2130 := NO
 
# end of manual sensor config block

endif


SENSORSET :=
EVTBL_PATH := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SENSOR

ifeq ($(SENSOR_TT3131), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/TT3131/exptbl_tt3131.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/TT3131/agctbl_tt3131.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9920_SHARPRJ23T3A), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23T3A/exptbl_ad9920_sharprj23t3a.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23T3A/agctbl_ad9920.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9920_SHARPRJ23U3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23U3B/exptbl_ad9920_sharprj23u3b.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23U3B/agctbl_ad9920.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9920_SHARPRJ23V3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23V3B/exptbl_ad9920_sharprj23v3b.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23V3B/agctbl_ad9920.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9000_SHARPRJ23V3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23V3B/exptbl_ad9000_sharprj23v3b.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23V3B/agctbl_ad9000.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23V3B/init_ad9000_sharprj23v3b.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9000_SHARPRJ23U3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23U3B/exptbl_ad9000_sharprj23u3b.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23U3B/agctbl_ad9000.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23U3B/init_ad9000_sharprj23u3b.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9000_SHARPRJ23W3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/exptbl_ad9000_sharprj23w3b.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/agctbl_ad9000.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/init_ad9000_sharprj23w3b.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SHARPRJ23W3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/exptbl_vsp6244_sharprj23w3b.dat
 ifeq ($(AGCTBL_MIX), YES)
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/agctbl_vsp6244_mix.dat
 else
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/agctbl_vsp6244.dat
 endif
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/init_vsp6244_sharprj23w3b.dat
 AFEVIEWTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/view_vsp6244_sharprj23w3b.dat
 AFESNAPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23W3B/snap_vsp6244_sharprj23w3b.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SHARPRJ23Y3B), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23Y3B/exptbl_vsp6244_sharprj23y3b.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23Y3B/agctbl_vsp6244.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23Y3B/init_vsp6244_sharprj23y3b.dat
 AFEVIEWTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23Y3B/view_vsp6244_sharprj23y3b.dat
 AFESNAPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23Y3B/snap_vsp6244_sharprj23y3b.dat
 AFEVIE2TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SHARPRJ23Y3B/view_vsp6244_sharprj23y3btg2.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SONY675), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/exptbl_vsp6244_sony675.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/agctbl_vsp6244.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/init_vsp6244_sony675.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SONY675_BIN), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/exptbl_vsp6244_sony675bin.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/agctbl_vsp6244bin.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/init_vsp6244_sony675bin.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SONY677), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/exptbl_vsp6244_sony677.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/agctbl_vsp6244.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/init_vsp6244_sony677.dat
 AFEVIEWTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/view_vsp6244_sony677.dat
 AFESNAPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/snap_vsp6244_sony677.dat
 AFESNAP1TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/snap1_vsp6244_sony677.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SONY681), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY681/exptbl_vsp6244_sony681.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY681/agctbl_vsp6244.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY681/init_vsp6244_sony681.dat
 AFEVIEWTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY681/view_vsp6244_sony681.dat
 AFESNAPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/S8ONY681/snap_vsp6244_sony681.dat
 AFEVIE2TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY681/view_vsp6244_sony681tg2.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SONY631), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/exptbl_vsp6244_sony631.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/agctbl_vsp6244.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/init_vsp6244_sony631.dat
 AFEVIEWTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/view_vsp6244_sony631.dat
 AFESNAPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/snap_vsp6244_sony631.dat
 AFEVIE2TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/view_vsp6244_sony631tg2.dat
 AFESNAP1TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/snap1_vsp6244_sony631.dat
 AFESNAP2TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY631/snap2_vsp6244_sony631.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9000_SONY675), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/exptbl_ad9000_sony675.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/agctbl_ad9000.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY675/init_ad9000_sony675.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9000_SONY677), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/exptbl_ad9000_sony677.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/agctbl_ad9000.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY677/init_ad9000_sony677.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9920_SONY636), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY636/exptbl_ad9920_sony636.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY636/agctbl_ad9920.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_SONY636), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY636/exptbl_vsp6244_sony636.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY636/agctbl_vsp6244.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9920_SONY646), YES)
# CDSPPARA_PATH := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY646
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY646/exptbl_ad9920_sony646.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONY646/agctbl_ad9920.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV2710), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2710/exptbl_ov2710.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2710/agctbl_ov2710.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV2718), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2718/exptbl_ov2718.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2718/agctbl_ov2718.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV2735), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2735/exptbl_ov2735.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2735/agctbl_ov2735.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_OV2735), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_OV2735/exptbl_dual_ov2735.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_OV2735/agctbl_dual_ov2735.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV2740), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2740/exptbl_ov2740.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV2740/agctbl_ov2740.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV4689), YES)
 ifeq ($(SERDES_SPCA100_SPCA101_CONNECTION), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV4689/exptbl_ov4689_serdes_connected.dat
 else
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV4689/exptbl_ov4689.dat 
 endif
 
 ifeq ($(OV4689_HDR), YES)
 	AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV4689/agctbl_hdr_ov4689.dat
 else 	
 	AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV4689/agctbl_ov4689.dat
 endif	
 SENSORSET := YES
endif

ifeq ($(SENSOR_OS08A10), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OS08A10/exptbl_os08a10.dat 
 	AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OS08A10/agctbl_os08a10.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_OV4689), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_OV4689/exptbl_dual_ov4689.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_OV4689/agctbl_dual_ov4689.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PRIMARY_SERDES_SPCA7002), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PRIMARY_SERDES_SPCA7002/exptbl_primary_serdes_spca7002.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PRIMARY_SERDES_SPCA7002/agctbl_primary_serdes_spca7002.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PRIMARY_SPCA7002), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PRIMARY_SPCA7002/exptbl_primary_spca7002.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PRIMARY_SPCA7002/agctbl_primary_spca7002.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5610), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5610/exptbl_ov5610.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5610/agctbl_ov5610.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5620), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5620/exptbl_ov5620.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5620/agctbl_ov5620.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV7695), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV7695/exptbl_ov7695.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV7695/agctbl_ov7695.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV9712), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV9712/exptbl_ov9712.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV9712/agctbl_ov9712.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV9734), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV9734/exptbl_ov9734.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV9734/agctbl_ov9734.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV9756), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV9756/exptbl_ov9756.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV9756/agctbl_ov9756.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5633), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5633/exptbl_ov5633.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5633/agctbl_ov5633.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5653), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5653/exptbl_ov5653.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5653/agctbl_ov5653.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5633), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5633/exptbl_ov5633.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5633/agctbl_ov5633.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5675), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5675/exptbl_ov5675.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5675/agctbl_ov5675.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5680), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5680/exptbl_ov5680.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5680/agctbl_ov5680.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV5695), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5695/exptbl_ov5695.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV5695/agctbl_ov5695.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_HM2130), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/HM2130/exptbl_hm2130.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/HM2130/agctbl_hm2130.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PANAMN34227), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34227/exptbl_panamn34227.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34227/agctbl_panamn34227.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PANAMN34229), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34229/exptbl_panamn34229.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34229/agctbl_panamn34229.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_OV14810), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV14810/exptbl_ov14810.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/OV14810/agctbl_ov14810.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_MI5100P), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/MI5100P/exptbl_mi5100p.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/MI5100P/agctbl_mi5100p.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_MT9V136), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/MT9V136/exptbl_mi9130.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/MT9V136/agctbl_mi9130.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_KAC5010), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/KAC5010/exptbl_kac5010.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/KAC5010/agctbl_kac5010.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_CP3200), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/CP3200/exptbl_cp3200.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/CP3200/agctbl_cp3200.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_XTG3626_SONY455), YES)
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_cxd3626ga_sony455.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_ad9943.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX118), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX118/exptbl_sonyimx118.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX118/agctbl_sonyimx118.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX147), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX147/exptbl_sonyimx147.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX147/agctbl_sonyimx147.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX283), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX283/exptbl_sonyimx283.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX283/agctbl_sonyimx283.dat
 SENSORSET := YES
endif


ifeq ($(SENSOR_SONYIMX291), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX291/exptbl_sonyimx291.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX291/agctbl_sonyimx291.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX258), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX258/exptbl_sonyimx258.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX258/agctbl_sonyimx258.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_SONYIMX258), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_SONYIMX258/exptbl_dual_sonyimx258_icatch.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_SONYIMX258/agctbl_dual_sonyimx258_icatch.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX322), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX322/exptbl_sonyimx322.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX322/agctbl_sonyimx322.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX323), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX323/exptbl_sonyimx323.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX323/agctbl_sonyimx323.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX326), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX326/exptbl_sonyimx326.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX326/agctbl_sonyimx326.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX326_LVDS), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX326_LVDS/exptbl_sonyimx326_lvds.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX326_LVDS/agctbl_sonyimx326_lvds.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX307), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX307/exptbl_sonyimx307.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX307/agctbl_sonyimx307.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX335), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX335/exptbl_sonyimx335.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX335/agctbl_sonyimx335.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX385), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX385/exptbl_sonyimx385.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX385/agctbl_sonyimx385.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SOIF02), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SOIF02/exptbl_soif02.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SOIF02/agctbl_soif02.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SOIF22), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SOIF22/exptbl_soif22.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SOIF22/agctbl_soif22.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_SOIF22), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_SOIF22/exptbl_soif22.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_SOIF22/agctbl_soif22.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SOIF25), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SOIF25/exptbl_soif25.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SOIF25/agctbl_soif25.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_BRV0500), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/BRV0500/exptbl_brv0500.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/BRV0500/agctbl_brv0500.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SC1023), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SC1023/exptbl_sc1023.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SC1023/agctbl_sc1023.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_S5K3P3SM), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/S5K3P3SM/exptbl_s5k3p3sm.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/S5K3P3SM/agctbl_s5k3p3sm.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_GC4603), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC4603/exptbl_gc4603.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC4603/agctbl_gc4603.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_GC8603), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC8603/exptbl_gc8603.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC8603/agctbl_gc8603.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_GC8603), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_GC8603/exptbl_dual_gc8603.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_GC8603/agctbl_dual_gc8603.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_GC1024), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC1024/exptbl_gc1024.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC1024/agctbl_gc1024.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_GC1024_PARALLEL), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC1024_PARALLEL/exptbl_gc1024_parallel.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC1024_PARALLEL/agctbl_gc1024_parallel.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_GC2023), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC2023/exptbl_gc2023.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/GC2023/agctbl_gc2023.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PS5220), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PS5220/exptbl_ps5220.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PS5220/agctbl_ps5220.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_PS5246), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_PS5246/exptbl_dual_ps5246.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_PS5246/agctbl_dual_ps5246.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PS5246), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PS5246/exptbl_ps5246.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PS5246/agctbl_ps5246.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX175), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX175/exptbl_sonyimx175.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX175/agctbl_sonyimx175.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX179), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX179/exptbl_sonyimx179.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX179/agctbl_sonyimx179.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_BK1_SONYIMX175), YES)
 EXPTBL2_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX175/exptbl_sonyimx175.dat
 AGCTBL2_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX175/agctbl_sonyimx175.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX200), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX200/exptbl_sonyimx200.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX200/agctbl_sonyimx200.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_BK1_SONYIMX200), YES)
 EXPTBL2_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX200/exptbl_sonyimx200.dat
 AGCTBL2_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX200/agctbl_sonyimx200.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PANAMN34110), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/exptbl_panamn34110.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/agctbl_panamn34110_p6dB.dat
 AGCTBL2_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/agctbl_panamn34110_0dB.dat 
 AGCTBL3_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/agctbl_panamn34110_n3_5dB.dat
 AGCTBL4_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/agctbl_panamn34110_n6dB.dat
 AGCTBL5_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/agctbl_panamn34110_n13dB.dat
 AGCTBL6_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34110/agctbl_panamn34110_n15_5dB.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_PANAMN34120), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34120/exptbl_panamn34120.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34120/agctbl_panamn34120_p6dB.dat
 AGCTBL2_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34120/agctbl_panamn34120_0dB.dat 
 AGCTBL3_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34120/agctbl_panamn34120_n3dB.dat
 AGCTBL4_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34120/agctbl_panamn34120_n6dB.dat
 AGCTBL5_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34120/agctbl_panamn34120_n21dB.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AR0230), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0230/exptbl_ar0230.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0230/agctbl_ar0230.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR0237), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0237/exptbl_ar0237.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0237/agctbl_ar0237.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR0238_PARALLEL), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0238_PARALLEL/exptbl_ar0238_parallel.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0238_PARALLEL/agctbl_ar0238_parallel.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR0239), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0239/exptbl_ar0239.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0239/agctbl_ar0239.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_AR0238), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_AR0238/exptbl_dual_ar0238.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_AR0238/agctbl_dual_ar0238.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR0330), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0330/exptbl_ar0330.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0330/agctbl_ar0330.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_AR0330), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_AR0330/exptbl_dual_ar0330.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_AR0330/agctbl_dual_ar0330.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR0330CS), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0330CS/exptbl_ar0330cs.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0330CS/agctbl_ar0330cs.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR0835), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0835/exptbl_ar0835.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR0835/agctbl_ar0835.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_AR1335), YES)
  EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR1335/exptbl_ar1335.dat
  AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/AR1335/agctbl_ar1335.dat
  SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX206), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX206/exptbl_sonyimx206.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX206/agctbl_sonyimx206.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_DUAL_SONYIMX206), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_SONYIMX206/exptbl_dual_sonyimx206.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/DUAL_SONYIMX206/agctbl_dual_sonyimx206.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX078), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX078/exptbl_sonyimx078.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX078/agctbl_sonyimx078.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX317_LVDS), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX317_LVDS/exptbl_sonyimx317_lvds.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX317_LVDS/agctbl_sonyimx317_lvds.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX317_MIPI), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX317_MIPI/exptbl_sonyimx317_mipi.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX317_MIPI/agctbl_sonyimx317_mipi.dat
 SENSORSET := YES
endif


ifeq ($(SENSOR_XTG4805_SONY624), YES)
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_cxd4805ga_sony624.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_cxd4805ga.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_XTG9923_SONY629), YES)
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_ad9923_sony629.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_ad9923.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_SONYIMX214), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX214/exptbl_sonyimx214.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/SONYIMX214/agctbl_sonyimx214.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_XTG12067_PANX39830), YES)
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_panx12067_mn39830.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_panx12067.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_XTG12069_PANX39830), YES)
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_panx12069_mn39830.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_panx12069.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_XTG12069_PANX39600), YES)
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_panx12069_mn39600.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_panx12069.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_XTG12068_PANX39850), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANX39850/exptbl_panx12068_mn39850.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANX39850/agctbl_panx12068.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_VSP6244_PANAMN34571), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34571/exptbl_vsp6244_panamn34571.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34571/agctbl_vsp6244.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34571/init_vsp6244_panamn34571.dat
 AFEVIEWTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34571/view_vsp6244_panamn34571.dat
 AFESNAPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34571/snap_vsp6244_panamn34571.dat
 AFEVIE2TBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34571/view_vsp6244_panamn34571tg2.dat
 SENSORSET := YES
endif

ifeq ($(SENSOR_AD9007_PANAMN34591), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34591/exptbl_ad9007_panamn34591.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34591/agctbl_ad9007.dat
 AFEINITTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/PANAMN34591/init_ad9007_panamn34591.dat
 SENSORSET = YES
endif

ifeq ($(SENSOR_CP8020), YES)
 EXPTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/CP8020/exptbl_cp8020.dat
 AGCTBL_DEF := $(RES_PATH)/$(PRJ_NAME)/A/RO_RES/SENSOR/CP8020/agctbl_cp8020.dat
 SENSORSET := YES
endif

ifndef SENSORSET
 EXPTBL_DEF := $(EVTBL_PATH)/exptbl_demo.dat
 AGCTBL_DEF := $(EVTBL_PATH)/agctbl_demo.dat
endif

ifndef EXPTBL
 EXPTBL := $(EXPTBL_DEF)
endif
ifndef AGCTBL
 AGCTBL := $(AGCTBL_DEF)
endif

ifneq (NONE, $(SENSOR_NAME_BK1))
ifndef EXPTBL2
 EXPTBL2 := $(EXPTBL2_DEF)
endif
ifndef AGCTBL2
 AGCTBL2 := $(AGCTBL2_DEF)
endif
endif

ifndef AGCTBL2
 AGCTBL2 := $(AGCTBL2_DEF)
endif

ifndef AGCTBL3
 AGCTBL3 := $(AGCTBL3_DEF)
endif

ifndef AGCTBL4
 AGCTBL4 := $(AGCTBL4_DEF)
endif

ifndef AGCTBL5
 AGCTBL5 := $(AGCTBL5_DEF)
endif

ifndef AGCTBL6
 AGCTBL6 := $(AGCTBL6_DEF)
endif

ifndef AFEINITTBL
 ifdef AFEINITTBL_DEF
  AFEINITTBL := $(AFEINITTBL_DEF)
 endif
endif
ifndef AFEVIEWTBL
 ifdef AFEVIEWTBL_DEF
  AFEVIEWTBL := $(AFEVIEWTBL_DEF)
 endif
endif
ifndef AFEVIE2TBL
 ifdef AFEVIE2TBL_DEF
   AFEVIE2TBL := $(AFEVIE2TBL_DEF)
 endif
endif
ifndef AFEQVGAVIEWTBL
 ifdef AFEQVGAVIEWTBL_DEF
  AFEQVGAVIEWTBL := $(AFEQVGAVIEWTBL_DEF)
 endif
endif
ifndef AFESNAPTBL
 ifdef AFESNAPTBL_DEF
  AFESNAPTBL := $(AFESNAPTBL_DEF)
 endif
endif
ifndef AFESNAP1TBL
 ifdef AFESNAP1TBL_DEF
  AFESNAP1TBL := $(AFESNAP1TBL_DEF)
 endif
endif
ifndef AFESNAP2TBL
 ifdef AFESNAP2TBL_DEF
  AFESNAP2TBL := $(AFESNAP2TBL_DEF)
 endif
endif
